global
  maxconn 4096
  tune.ssl.default-dh-param 2048

defaults
  mode tcp
  timeout connect 5s
  timeout client  1m
  timeout server  1m
  option tcplog

frontend fe_opamp
  bind *:4320
  default_backend be_opamp

backend be_opamp
  server s1 opamp-server:4320 check fall 2 rise 2
